<div class="form-field{% if field.errors %} form-field--invalid{% endif %}">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {{ field }}

  {% if field.help_text %}
    <div id="{{ field.auto_id }}_helptext" class="form-help">
      {{ field.help_text|safe }}
    </div>
  {% endif %}

  {% if field.errors %}
    <ul id="{{ field.auto_id }}_error" class="form-errors">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
