<div class="form-field{% if field.field.widget.input_type == 'checkbox' %} form-field--checkbox{% endif %}{% if field.errors %} form-field--invalid{% endif %}">
  {% if field.field.widget.input_type == "checkbox" %}
    <label class="form-checkbox" for="{{ field.id_for_label }}">
      {{ field }}
      <span>{{ field.label }}</span>
    </label>
  {% else %}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
  {% endif %}

  {% if field.help_text %}
    <div id="{{ field.auto_id }}_helptext" class="form-help">
      {{ field.help_text|safe }}
    </div>
  {% endif %}

  {% if field.errors %}
    <ul id="{{ field.auto_id }}_error" class="form-errors">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
