{% extends "auth_base.html" %}

{% block title %}Log in | Pose Game{% endblock %}

{% block auth_heading %}Log in{% endblock %}

{% block auth_intro %}
  <p>Use your username and password to continue.</p>
{% endblock %}

{% block auth_content %}
  {% include "partials/form_errors.html" %}

  <form class="form" method="post">
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% include "partials/form_field.html" with field=field %}
    {% endfor %}

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}">
    {% endif %}

    <button class="button button--primary button--block" type="submit">Log in</button>
  </form>

  <p class="auth-alternative">
    Don't have an account? <a href="{% url 'register' %}">Register</a>
  </p>
{% endblock %}
