{% extends "auth_base.html" %}

{% block title %}Register | Pose Game{% endblock %}

{% block auth_heading %}Create an account{% endblock %}

{% block auth_intro %}
  <p>Create an account to access the application.</p>
{% endblock %}

{% block auth_content %}
  {% include "partials/form_errors.html" %}

  <form class="form" method="post">
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% include "partials/form_field.html" with field=field %}
    {% endfor %}

    <button class="button button--primary button--block" type="submit">
      Register and log in
    </button>
  </form>

  <p class="auth-alternative">
    Already have an account? <a href="{% url 'login' %}">Log in</a>
  </p>
{% endblock %}
